body {
 /* zoom:0.5;*/
  width: 100%;
  height: 100%;
  background-color:black;
  margin-left:auto;
  margin-right:auto; 
  overflow:hidden;
/*  image-rendering: pixelated; */
}
::-moz-selection{
background-color:Transparent;
color:#000;
}

::selection {
background-color:Transparent;
color:#000;
}
body::-moz-selection,
body::selection { ... }
#camerafeed {
	z-index:1;
}

#achievement1, #achievement2, #achievement3{
	content:url(graphics/mainmenu/star.png);
	position:absolute;
	top:44%;
	width:3.7%;
	height:7.09%;
	image-rendering: pixelated;
	display: none;
}

#arrowleft{
	height:4.81%;
	width:1.77%;
	position:absolute;
	content:url(graphics/mainmenu/customnight/arrowleft.png);
}

#arrowright{
	height:4.81%;
	width:1.77%;
	position:absolute;
	content:url(graphics/mainmenu/customnight/arrowright.png);
}

#power {
	z-index:2;
}

#timekeeper {
	z-index:2;
}

#fan {
	top: 42.3%;
}

#record {
	display:block;
}

div.map {
	position:absolute;
	bottom: 0px;
	right: 150px;
}

div.main, img.main {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

div.overlay {
  position: absolute;
  width: 98%;
  height: 100%;
  top: 0;
  left: 0;
/*  background-repeat: no-repeat;*/
}

#static {
/*	background-image: url("graphics/camera/static_test3.jpg");
	background: url('graphics/camera/static_test3.jpg') left center;*/
	display:block;
	opacity:0.25;
	position:fixed;
/*	width: 125%;
    height: 125%;
	z-index:77;
	height:141px;
	margin-left:659px;
	top:73px;
	right: 265px;
    
   animation: play .8s steps(1280) infinite;*/
}

#staticimg {
  display:block;
  width: 225%;
  height: 225%;
}

#map{
  z-index:105;
  bottom:85px;
  right:2.5%;
}

#button-1a {
position: absolute;
width:45px;
top:20px;
left:110px;
background-color:#107010;
    padding:6px;
    border: 3px solid white;
}

#button-1b{
position: absolute;
width:45px;
top:77px;
left:85px;
background-color:#101010;
    padding:6px;
    border: 3px solid white;
}

#button-1c{
position: absolute;
width:45px;
top:155px;
left:55px;
background-color:#101010;
    padding:6px;
    border: 3px solid white;
}

#button-2a{
position: absolute;
width:41px;
bottom:97px;
left:106px;
background-color:#101010;
    padding:6px;
    border: 3px solid white;
}

#button-2b{
position: absolute;
width:41px;
bottom:47px;
left:106px;
background-color:#101010;
    padding:6px;
    border: 3px solid white;
}

#button-5{
position: absolute;
width:45px;
top:94px;
left:-27px;
background-color:#101010;
    padding:6px;
    border: 3px solid white;
}

#button-7{
position: absolute;
width:45px;
top:104px;
right:20px;
background-color:#101010;
    padding:6px;
    border: 3px solid white;
}

#button-3{
position: absolute;
width:45px;
bottom:102px;
left:16px;
background-color:#101010;
    padding:6px;
    border: 3px solid white;
}

#button-4a{
position: absolute;
width:41px;
bottom:97px;
left:214px;
background-color:#101010;
    padding:6px;
    border: 3px solid white;
}

#button-4b{
position: absolute;
width:41px;
bottom:47px;
left:214px;
background-color:#101010;
    padding:6px;
    border: 3px solid white;
}

#button-6{
position: absolute;
width:45px;
bottom:121px;
left:307px;
background-color:#101010;
    padding:6px;
    border: 3px solid white;
}

#room {
  position: fixed;
  left:0;
  width: 98%;
  height: 100%;
} 

.roomtest {
  -webkit-animation: play 7s linear infinite alternate;
}

@-webkit-keyframes play {
    from { -webkit-transform:translateX(-5%) }
    to { -webkit-transform:translateX(-20%) }
}

div.camera {
  position: absolute;
  bottom: 7px;
  left: 10px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 7pt;
  color: #c0f0c0;
  text-shadow: #80c080 0 0 1px;
  width: 98%;
  height: 100%;
}